<!DOCTYPE html>
<html>
	<head>
		<title>{{.Title}}</title>
		<link rel="stylesheet" href="./css/spectre.min.css"/>
		<link rel="stylesheet" href="./css/spectre-exp.min.css"/>
		<link rel="stylesheet" href="./css/spectre-icons.min.css"/>
	</head>
	<body>

		{{template "navbar" .}}

		<div class="container mt-2">
			<div class="columns p-relative">
				<div id="logs" class="column col-9 p-centered"> 
					{{template "log" .}}
				</div>
			</div>
		</div>

		<script src="./js/websocket.js" defer></script>
	</body>
</html> 